body {
/* styling whole page with body-tag selector */
    font-family: Verdana, sans-serif;
    text-align: center;
    background-color: black;
    color: white;
}

/* styling with class-selector cta */
.cta {
    color: Aquamarine;
    font-size: 16px;
}

/* styling with h1-tag selector */
h1 {
    font-size: 50px;
}

/* styling with  h2-tag selector */
h2 {
    font-size: 42px;
}

/* styling with p-tag selector */
p {
    color: Gray;
    font-size: 21px;
}

/* styling with class-selector footer */
.footer {
    text-align: right;
}
